[submodule "npm/bam_js"]
	path = npm/bam_js
	url = git@github.com:BryanApellanes/bam.js.git
[submodule "npm/BamAppTemplate"]
	path = npm/BamAppTemplate
	url = git@github.com:BryanApellanes/BamApp.git
[submodule "npm/bam-job"]
	path = npm/bam-job
	url = git@github.com:BryanApellanes/bam-job.git
[submodule "npm/bam-artifact"]
	path = npm/bam-artifact
	url = git@github.com:BryanApellanes/bam-artifact.git
