[submodule "npm/bam-artifact"]
	path = npm/bam-artifact
	url = git@github.com:BryanApellanes/bam-artifact.git
[submodule "npm/BamAppTemplate"]
	path = npm/BamAppTemplate
	url = git@github.com:BryanApellanes/BamAppTemplate.git
